<style>
    .comment {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid black;
        padding: 10px;
    }

    .header {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>


{% extends 'post/layouts/base.html' %}

{% include 'post/includes/header.html' with logo="logo text" %}

{% block content %}
    <div class="header">
        <a href="{% url 'index' %}">Index page</a>
    </div>
    <div class="">
        <h1>Edit cat</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ cat_form.as_p }}
            <button>Сохранить</button>
        </form>
    </div>

    <h1>Category</h1>
    <div class="info">
        <div>
            name: {{ cat.name }}
        </div>
    </div>
    <h1>Comments</h1>
    <div class="posts">
        {% for post in posts %}
            <div class="comment">
                <div>author: {{ post.author }}</div>
                <div>title: {{ post.title }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}